.product{
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: rgb(55, 55, 175);
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}